{% extends 'template.html' %}
{% load static %}

{% block title %}مقالات و اخبار{% endblock %}

{% block style&script %}
<link rel=stylesheet type="text/css" href="/static/pages.css">
<!-- <link href="/static/bootstrap.rtl.css" rel="stylesheet"> -->


<!-- Custom styles for this template -->
<!-- <link href="/static/features.css" rel="stylesheet"> -->
<link rel=stylesheet type="text/css" href="/static/stylesheet.css">
<style>
    .row-cols-3 {
        --x-gutter: 1.5rem;
        display: flex;
        flex-wrap: wrap;
    }

    .row-cols-3>* {
        --col-width: 33.3%;
        width: calc(var(--col-width) - 2 * var(--x-gutter));
        margin: 0 var(--x-gutter);
    }

    @media (max-width: 992px) {
        .row-cols-3>* {
            --col-width: 50%;
        }
    }

    @media (max-width: 768px) {
        .row-cols-3>* {
            --col-width: 100%;
        }
    }
</style>
<style>
    .bg-primary {
        background-color: rgb(13, 110, 253);
        background-color: dodgerblue;
        background-color: royalblue;
    }

    .feature-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
        margin: 1rem 0 0;
        font-size: 2rem;
        color: white;
        background-color: teal;
    }

    .link-icon {
        display: inline-flex;
        /* align-items: center; */
    }

    .link-icon:hover>.bi {
        transition: transform .3s ease;
        transform: translate(-0.2rem);
    }
</style>
{% endblock %}

{% block main %}
<div class="container">
        {% for article in articles %}
        <div>
            <h2> {{ article.title }} </h2>
            <p> {{ article.content|safe|linebreaks|truncatewords_html:100}}
                <a href="../article/{{ article.id}}" class="link-icon"> ادامه </a>
            </p>
        <hr>
        </div>

        {% endfor %}
</div>
{% endblock %}