{% extends 'template.html' %}
{% load static %}

{% block title %}مربیان آکادمی توانا{% endblock %}

{% block main %}
<div class="container float-alternative">
    <h1>مربیان آکادمی پینگ پنگ توانا</h1>
    <p>آکادمی پینگ پنگ توانا از کادر مربیان زیر برای پرورش بازیکنان سطح حرفه‌ای و علاقمندان آماتور تنیس روی میز بهره
        می‌برد: </p>
    {% for category, coaches in toc.items %}
    {{ category }}<br>
    <ul>
        {% for coach in coaches %}
        <li> <a href="#{{ coach.english_name }}">{{ coach.persian_name }}</a> </li>
        {% endfor %}
    </ul>
    {% endfor %}
    {% for coach in coaches %}
    <hr>
    <img src="/static/images/{{coach.english_name}}.jpg" alt="{{ coach.english_name }}" class="img-rounded">
    <a id="{{ coach.english_name }}"></a>
    <h2>{{ coach.persian_name }}</h2>
    {{ coach.cv|safe|linebreaks }}
    {% if coach.email %}
    <a href="mailto:{{ coach.email }}" target="_blank" class="link-dark"> <i class="bi bi-envelope"></i></a>
    {% endif %}
    {% if coach.whatsappId %}
    <a href="https://wa.me/{{ coach.whatsappId }}" target="_blank" class="link-dark"> <i class="bi bi-whatsapp"></i></a>
    {% endif %}
    {% if coach.instagramId %}
    <a href="https://www.instagram.com/{{ coach.instagramId }}/" target="_blank" class="link-dark"> <i
            class="bi bi-instagram"></i></a>
    {% endif %}
    {% if coach.phoneNumber %}
    <a href="tel:{{ coach.phoneNumber }}" target="_blank" class="link-dark"> <i class="bi bi-telephone"></i></a>
    {% endif %}
    <a href="#top" class="link-dark"> <i class="bi bi-chevron-double-up"></i></a>
    {% endfor %}
</div>
<br>
{% endblock %}