{% extends 'template.html' %}
{% load static %}

{% block title %}راه‌های تماس آکادمی توانا{% endblock %}
{% block description %}
آدرس، شماره تماس و راه‌های ارتباطی آکادمی پینگ پنگ توانا
{% endblock %}
{% block keywords %}غرب تهران, منطقه پنج تهران, منطقه 5 تهران,
{% endblock %}

{% block style&script %}
<style>
    strong {
        font-size: 107%;
        font-weight: bold;
        color: black;
    }

    .list-icon {
        color: brown;
        font-size: 2rem;
        margin-left: 1rem;
    }

    .list-a {
        display: flex;
        color: black;
    }

    .list-a:hover {
        text-decoration: none;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 100%;
    }

    .map-frame {
        flex: 0 0 auto;
        margin: 2rem 0;
        width: 100%;
        height: 70vh;
        max-width: 600px;
    }

    @media (min-width: 750px) {
        .col-lg-5 {
            width: 45%;
        }

        .map-frame {
            width: 52%;
            margin-right: 3%;
            height: 70vh;
        }
    }
</style>
{% endblock %}

{% block main %}
<div class="container flex-wrap" style="align-items:center; justify-content:center; height: 100%;">
    <div class="col-lg-5">
        <h1>آکادمی پینگ پنگ توانا</h1>
        <p> <a href="https://goo.gl/maps/fxpGx7f8Jn5qj8Dk6" class="list-a" target=_blank>
                <i class="list-icon bi-geo-alt"></i>
                <span>
                    <strong> آدرس: </strong> <br>
                    تهران، منطقه ۵، انتهای بزرگراه ستاری شمال، میدان دانشگاه، خیابان شعرا، مجتمع علامه طباطبایی
                </span>
            </a> </p>
        <p> <a href="tel:+982144822787" class="list-a" target=_blank>
                <i class="list-icon bi-telephone-inbound"></i>
                <span>
                    <strong> تلفن: </strong> <br>
                    021-44822787
                </span>
            </a> </p>
        <p> <a href="https://wa.me/989128980720" class="list-a" target=_blank>
                <i class="list-icon bi-whatsapp"></i>
                <span>
                    <strong> واتسپ: </strong> <br>
                    0912-8980720
                </span>
            </a> </p>
        <p> <a href="https://www.instagram.com/tavana_tta/" class="list-a" target=_blank>
                <i class="list-icon bi-instagram"></i>
                <span>
                    <strong> اینستاگرام: </strong> <br>
                    @tavana_tta
                </span>
            </a> </p>
        <p>
            <a href="mailto:contact@tavanatta.com" class="list-a" target=_blank style="display: flex;">
                <i class="list-icon bi-envelope"></i>
                <span>
                    <strong> پست الکترونیک: </strong> <br>
                    contact[at]tavanatta.com
                </span>
            </a>
        </p>
    </div>
    <div class="map-frame">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6474.026245219564!2d51.317039!3d35.775054!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x60ddf91cd464f17e!2sTavana%20Table%20Tennis%20Academy!5e0!3m2!1sen!2sus!4v1638208732218!5m2!1sen!2sus"
            width=100% height=100% style="border:0; border-radius: 1rem;" loading="lazy"></iframe>
    </div>
</div>
{% endblock %}