{% extends 'template.html' %}
{% load static %}

{% block title %}کلاس‌های آکادمی توانا{% endblock %}

{% block main %}
<div class="container">
    <h1>تقویم آموزشی آکادمی توانا</h1>
    <img src="/static/images/calendar.png" style="max-width: 100%; margin: 1.5rem 0;">
    {% for smeseter in semesters %}
    <p> کلاس‌های آموزشی آکادمی توانا در {{ smeseter.title }} به قرار زیر است:
    </p>
    <ul>
        {% for course in courses %}
        {% if course.semester == smeseter %}
        <li>
            {{ course.title }}
            <div style="margin-top: -1rem;">{{ course.description|safe|linebreaks }}</div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}
</div>
<br>
{% endblock %}