{% extends 'template.html' %}
{% load static %}

{% block title %}آکادمی پینگ پنگ توانا
{% endblock %}
{% block description %}
آکادمی توانا در غرب تهران با مربیان رسمی فدراسیون تنیس روی میز ایران، به آموزش علاقمندان می‌پردازد.
{% endblock %}
{% block style&script %}
<!-- <link rel=stylesheet type="text/css" href="{% static 'bootstrap.rtl.css' %}"> -->
<link rel=stylesheet type="text/css" href="{% static 'carousel.css' %}">
{% endblock %}

{% block main %}
<!-- header -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <button class="carousel-control-prev" data-bs-target="#myCarousel" data-bs-slide="prev">
        <i class="bi bi-chevron-right" style="font-size: 2rem;"></i>
    </button>
    <button class="carousel-control-next" data-bs-target="#myCarousel" data-bs-slide="next">
        <i class="bi bi-chevron-left" style="font-size: 2rem;"></i>
    </button>

    <div class="carousel-indicators">
        {% for highlight in highlights %}
        <button data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
        class="{% if forloop.first %} active {% endif %}"></button>
       {% endfor %} 
    </div>

    <div class="carousel-inner">
        {% for highlight in highlights %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
            <div style="display: flex; justify-content: space-between; align-items: center; border: solid silver;">
                <div class="carousel-caption">
                    <h1>{{ highlight.title|safe }}</h1>
                    <p>{{ highlight.content|safe|linebreaks }}</p>
                    {% if highlight.link %}
                    <p><a href="{{ highlight.link|safe }}">{{ highlight.link_caption|safe }}</a> </p>
                    {% endif %}
                </div>
                {% if highlight.image_filename %}
                <div class="img-block"><img src="{% static 'images/' %}{{highlight.image_filename}}"
                        style="width: 100%; height: auto; border-radius: 0.5rem;">
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h2>تنیس روی میز</h2>
    <p>
        تنیس روی میز یا پینگ-پنگ ورزشی است که روی میز انجام می‌شود و دو یا چهار بازیکن در آن مشارکت دارند و هر
        بازیکن یک راکت دارد و با بهره‌گیری از آن به توپ ضربه می‌زند. در وسط میز یک تور قرار دارد و برخورد توپ با
        آن تابع قوانین خاصی است. توپ در این ورزش سبک (سفید یا نارنجی رنگ) و توخالی است. جنس میز از چوب و سخت
        است. تنیس روی میز توسط فدراسیون جهانی تنیس روی میز که در سال ۱۹۲۶ تأسیس شد اداره می‌شود. از سال ۱۹۸۸
        تنیس روی میز به ورزش‌های المپیک اضافه شد. به خوردن توپ به تور، هنگام زدن سرویس نت می‌گویند، و فواید تنیس
        روی میز این است که در موقع بازی کردن تنیس روی میز تمام اجزای بدن در حال حرکت هستند: دست، پا،گوش بینی قلب
        مری نای شش انگشتان دست، سر، چشم و اندام در حال حرکت هستند این بازی باعث می‌شود که تحرک شما بسیار زیاد
        شود و دو نیمکرهٔ مغز به‌طور هم‌زمان با هم کار کنند.
    </p>
    <h2>پیشینه</h2>
    <p>
        خاستگاه این بازی در بریتانیا است که در سال‌های ۱۸۹۰–۱۸۸۰ شاهزادگان (زمان ملکه ویکتوریا) طبقهٔ بالا پس از
        خوردن ناهار برای سرگرمی به آن می‌پرداختند. گویا در آن زمان آن‌ها ترجیح می‌دادند تا به جای آنکه در زیر
        آفتاب تنیس بازی کنند به انجام ورزشی بپردازند که در زیر سقف باشد، پس تنیس روی میز را ساختند.در برخی
        کشورهای انگلیسی زبان، دانشگاه‌ها و مدارس و مراکز ورزشی از به کار بردن واژهٔ پینگ پنگ برای این رشتهٔ
        ورزشی منع شده‌اند و به جای آن باید از تنیس روی میز استفاده کنند. دلیل آن هم لفظ واژهٔ پینگ پنگ است که در
        گذشته برای تمسخر یا تحقیر ساکنان شرق آسیا استفاده می‌شده‌است و دارای بار نژادپرستی است. همچنین گفته
        می‌شود که تنیس روی میز نام ورزش است ولی پینگ پنگ نام یک برند آمریکایی است که در سال ۱۹۰۱ ثبت شده و در
        وبسایت خود نیز به تفاوت تعریف تنیس روی میز و پینگ پنگ پرداخته‌است.
    </p>
    <h2>چگونگی بازی</h2>
    <p>
        پس از ضربهٔ سرویس که می‌بایست در نیمهٔ زمین فرد آغازگر بر زمین بخورد٫ در ضربه‌های بعدی توپ باید فقط در
        نیمهٔ زمین طرف مقابل به زمین بخورد. دو نیمهٔ زمین با یک تور از هم جدا شده‌اند. اگر توپ در زمین حریف فرود
        نیاید یک امتیاز به حریف اضافه می‌شود و اگر توپ در زمین حریف فرود آید و پس از آن حریف نتواند توپ را به
        زمین طرف مقابل بزند یک امتیاز به فردی که ضربه را زده افزوده می‌شود. اگر در ضربه اول، توپ پس از اینکه به
        زمین‌خورد، به تور بخورد و سپس در زمین حریف اصابت کند «نت» حساب می‌شود و فردی که آغازگر است باید دوباره
        ضربه را بزند و هیچ امتیازی برای کسی حساب نمی‌شود
    </p>
</div>
{% endblock %}