{% extends 'template.html' %}
{% load static %}

{% block title %}آکادمی پینگ پنگ توانا{% endblock %}

{% block style&script %}
<!-- <link rel=stylesheet type="text/css" href="/static/bootstrap.rtl.css"> -->

<style>
    :root {
        --arrow-block-width: 10%;
        --bg-light: 250, 250, 250;

    }

    .carousel {
        background-image: url('{{ header_bg }}');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(0, 0, 0, .5);
        background-blend-mode: darken;
        /* background-color: var(--bg-dark); */
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .carousel a {
        color: yellow;
    }

    .carousel p {
        text-indent: 0;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: var(--arrow-block-width);
        color: white;
        opacity: 0.5;
        border: 0;
        background: none;
        transition: opacity 0.5s ease;
        z-index: 2;
    }

    .carousel-control-prev {
        position: absolute;
        right: 0;
    }

    .carousel-control-next {
        position: absolute;
        left: 0;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 0;
        margin: 1rem;
        z-index: 2;
    }

    .carousel-indicators [data-bs-target] {
        width: 2rem;
        height: 0.3rem;
        margin: 0 0.1rem;
        border: 0;
        border-radius: .1rem;
        opacity: 0.5;
        transition: opacity 0.5s ease;
    }

    .carousel-indicators .active,
    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        opacity: 1;
    }

    .carousel-inner {
        /* position: relative; */
        width: 100%;
        overflow: hidden;
        margin: 0 0 2rem 0;
    }

    .carousel-item {
        display: none;
        align-items: center;
        height: 20rem;
        width: 100%;
        float: right;
        margin-left: -100%;
        transition: transform 1s ease;
        /* -webkit-backface-visibility: hidden; */
        /* backface-visibility: hidden; */
    }

    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        display: flex;
    }

    .carousel-item-next:not(.carousel-item-start),
    .active.carousel-item-end {
        transform: translateX(100%);
    }

    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start {
        transform: translateX(-100%);
    }

    .carousel-item>.carousel-caption {
        text-align: right;
        margin: 0;
        margin-right: var(--arrow-block-width);
        width: calc(100% - 2 * var(--arrow-block-width));
        max-width: 500px;
    }

    .carousel-item>.img-block {
        display: block;
        margin: 0;
        margin-left: var(--arrow-block-width);
        margin-right: 2rem;
        width: 50%;
    }

    .img-block img {
        width: 100%;
        height: auto;
        border-radius: 0.1rem;
    }

    @media (max-width: 768px) {
        .carousel-caption {
            margin-left: var(--arrow-block-width);
            /* width: 100%; */
        }

        .img-block {
            display: none !important;
        }
    }
</style>

<!-- features -->
<style>
    .row-cols-3 {
        /* --x-gutter: 1.5rem; */
        display: flex;
        flex-wrap: wrap;
    }

    .row-cols-3>div {
        --col-width: 33.3%;
        width: calc(var(--col-width) - 2rem);
        margin: 1rem;
    }

    @media (max-width: 1200px) {
        .row-cols-3>div {
            --col-width: 50%;
        }
    }

    @media (max-width: 768px) {
        .row-cols-3>div {
            --col-width: 100%;
        }
    }

    .bg-primary {
        background-color: royalblue, rgb(13, 110, 253), dodgerblue;
    }

    .feature-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
        /* margin: 1rem 0 0; */
        font-size: 2rem;
        color: white;
        background-color: var(--bg-dark);
    }

    .link-icon {
        display: inline-flex;
    }

    .link-icon:hover>.bi {
        transition: transform .3s ease;
        transform: translate(-0.2rem);
    }

    .card {
        /* position: relative; */
        /* display: flex; */
        /* flex-direction: column; */
        /* min-width: 0; */
        /* word-wrap: break-word; */
        background-clip: border-box;
        /* border: 1px solid silver; */
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        background: white;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        padding: 1.5rem 2rem;
    }
</style>
{% endblock %}

{% block main %}
<!-- header -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <button class="carousel-control-prev" data-bs-target="#myCarousel" data-bs-slide="prev">
        <i class="bi bi-chevron-right" style="font-size: 2rem;"></i>
    </button>
    <button class="carousel-control-next" data-bs-target="#myCarousel" data-bs-slide="next">
        <i class="bi bi-chevron-left" style="font-size: 2rem;"></i>
    </button>

    <div class="carousel-indicators">
        {% for highlight in header_items %}
        <button data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
            class="{% if forloop.first %} active {% endif %}"></button>
        {% endfor %}
    </div>

    <div class="carousel-inner">
        {% for highlight in header_items %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
            <div class="carousel-caption">
                <h1> {{ highlight.title }}</h1>
                {{ highlight.content|safe|linebreaks }}
                {% if highlight.link %}
                <a href="{{ highlight.link|safe }}" class="link-icon">
                    {{ highlight.link_caption }} <i class="bi bi-chevron-left"></i>
                </a>
                {% endif %}
            </div>
            {% if highlight.image_filename %}
            <div class="img-block" style="border: solid 0px springgreen;">
                <img src="/static/images/{{ highlight.image_filename }}">
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<!-- body -->
<div class="container" style="background: rgb(var(--bg-light));">
    <div class="row-cols-3">
        {% for item in body_items %}
        <div class="card">
            <!-- <div class="flex-wrap" style="align-items: center;"> -->
            <span class="feature-icon"> {{ item.icon|safe }} </span> &nbsp;&nbsp;
            <strong style="font-size: 110%;"> {{ item.title }} </strong>
            <p> {{ item.content|safe|linebreaks }} </p>
            {% if item.link %}
            <a href="{{ item.link|safe }}" class="link-icon"> {{ item.link_caption }}
                <i class="bi bi-chevron-left"></i> </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <br>
    <hr>
    <h1 style="text-align: center;"> مربیان آکادمی توانا </h1>
    <div class="flex-wrap">
        {% for coach in coaches %}
        <div style="text-align: center; margin: 0.5rem auto;">
            <a href="/coaches#{{ coach.english_name }}">
                <img src="/static/images/{{coach.english_name}}.jpg" alt="{{ coach.english_name }}" class="img-rounded">
                <h2>{{ coach.persian_name }}</h2>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}