{% extends 'template.html' %}
{% load static %}

{% block title %} {{ data.title }} {% endblock %}

{% block style&script %}
<link rel=stylesheet type="text/css" href="/static/pages.css">
{% endblock %}

{% block main %}
<div class="container">
    <h1>{{ data.title }}</h1>
    {{ data.content|safe|linebreaks }}

    {% if data.name == "rating-system" %}

    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 10px;
            /* min-width: 400px; */
            box-shadow: 0 0 20px lightgray;
        }

        .styled-table thead tr {
            background-color: darkcyan;
            color: white;
            text-align: right;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
            text-align: center;
        }

        .styled-table th,
        .styled-table td {
            padding: 10px;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: whitesmoke;
        }
    </style>

    <br>
    <hr>
    <h3> رده‌بندی بازیکنان در بهار ۱۴۰۱ به قرار زیر است: </h3>
    <div style="display: flex; flex-wrap: wrap;">
        <table id="tbRatings" class="styled-table">
            <thead>
                <tr>
                    <td>Rank</td>
                    <td>Name</td>
                    <td>Played</td>
                    <td>Win%</td>
                    <td nowrap="nowrap">Won-Lost</td>
                    <td nowrap="nowrap">Rating</td>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>1</td>
                    <td nowrap align="right">احمد داماد</td>
                    <td nowrap>36</td>
                    <td nowrap>78%</td>
                    <td nowrap>28-8</td>
                    <td nowrap>1626</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td nowrap align="right">رادین خیام</td>
                    <td nowrap>23</td>
                    <td nowrap>78%</td>
                    <td nowrap>18-5</td>
                    <td nowrap>1553</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td nowrap align="right">شایان فولادی</td>
                    <td nowrap>36</td>
                    <td nowrap>72%</td>
                    <td nowrap>26-10</td>
                    <td nowrap>1520</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td nowrap align="right">پرهام اشرفی</td>
                    <td nowrap>30</td>
                    <td nowrap>70%</td>
                    <td nowrap>21-9</td>
                    <td nowrap>1473</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td nowrap align="right">محسن خطیون</td>
                    <td nowrap>12</td>
                    <td nowrap>92%</td>
                    <td nowrap>11-1</td>
                    <td nowrap>1467</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td nowrap align="right">ماهان عبدی</td>
                    <td nowrap>18</td>
                    <td nowrap>72%</td>
                    <td nowrap>13-5</td>
                    <td nowrap>1379</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td nowrap align="right">میلاد نظامی</td>
                    <td nowrap>12</td>
                    <td nowrap>75%</td>
                    <td nowrap>9-3</td>
                    <td nowrap>1375</td>
                </tr>

                <tr>
                    <td>8</td>
                    <td nowrap align="right">ایلیا زرگر</td>
                    <td nowrap>24</td>
                    <td nowrap>63%</td>
                    <td nowrap>15-9</td>
                    <td nowrap>1357</td>
                </tr>

                <tr>
                    <td>9</td>
                    <td nowrap align="right">سالار کارگر</td>
                    <td nowrap>12</td>
                    <td nowrap>75%</td>
                    <td nowrap>9-3</td>
                    <td nowrap>1355</td>
                </tr>

                <tr>
                    <td>10</td>
                    <td nowrap align="right">امیرحسین رهگذر</td>
                    <td nowrap>24</td>
                    <td nowrap>58%</td>
                    <td nowrap>14-10</td>
                    <td nowrap>1323</td>
                </tr>

                <tr>
                    <td>11</td>
                    <td nowrap align="right">رسا یاقسمت</td>
                    <td nowrap>12</td>
                    <td nowrap>67%</td>
                    <td nowrap>8-4</td>
                    <td nowrap>1313</td>
                </tr>

                <tr>
                    <td>12</td>
                    <td nowrap align="right">ناصر عقیقی</td>
                    <td nowrap>18</td>
                    <td nowrap>50%</td>
                    <td nowrap>9-9</td>
                    <td nowrap>1248</td>
                </tr>

                <tr>
                    <td>13</td>
                    <td nowrap align="right">محمدرضا ربانی</td>
                    <td nowrap>30</td>
                    <td nowrap>50%</td>
                    <td nowrap>15-15</td>
                    <td nowrap>1244</td>
                </tr>

                <tr>
                    <td>14</td>
                    <td nowrap align="right">آوا حسنی</td>
                    <td nowrap>30</td>
                    <td nowrap>43%</td>
                    <td nowrap>13-17</td>
                    <td nowrap>1218</td>
                </tr>

                <tr>
                    <td>15</td>
                    <td nowrap align="right">یوسف لنگری</td>
                    <td nowrap>12</td>
                    <td nowrap>58%</td>
                    <td nowrap>7-5</td>
                    <td nowrap>1207</td>
                </tr>

                <tr>
                    <td>16</td>
                    <td nowrap align="right">ارشیا لرستانی</td>
                    <td nowrap>18</td>
                    <td nowrap>56%</td>
                    <td nowrap>10-8</td>
                    <td nowrap>1187</td>
                </tr>

                <tr>
                    <td>17</td>
                    <td nowrap align="right">جعفر گودرزی</td>
                    <td nowrap>12</td>
                    <td nowrap>58%</td>
                    <td nowrap>7-5</td>
                    <td nowrap>1167</td>
                </tr>

                <tr>
                    <td>18</td>
                    <td nowrap align="right">امیر غلامی</td>
                    <td nowrap>24</td>
                    <td nowrap>46%</td>
                    <td nowrap>11-13</td>
                    <td nowrap>1163</td>
                </tr>

                <tr>
                    <td>19</td>
                    <td nowrap align="right">امیرعباس الهیان</td>
                    <td nowrap>18</td>
                    <td nowrap>50%</td>
                    <td nowrap>9-9</td>
                    <td nowrap>1158</td>
                </tr>

                <tr>
                    <td>20</td>
                    <td nowrap align="right">محمدرضا تاجیک</td>
                    <td nowrap>12</td>
                    <td nowrap>58%</td>
                    <td nowrap>7-5</td>
                    <td nowrap>1157</td>
                </tr>

                <tr>
                    <td>21</td>
                    <td nowrap align="right">فرحان قاسمی</td>
                    <td nowrap>12</td>
                    <td nowrap>50%</td>
                    <td nowrap>6-6</td>
                    <td nowrap>1157</td>
                </tr>

                <tr>
                    <td>22</td>
                    <td nowrap align="right">محمد ذاکری</td>
                    <td nowrap>18</td>
                    <td nowrap>56%</td>
                    <td nowrap>10-8</td>
                    <td nowrap>1150</td>
                </tr>

                <tr>
                    <td>23</td>
                    <td nowrap align="right">پرهام قاسمی</td>
                    <td nowrap>12</td>
                    <td nowrap>50%</td>
                    <td nowrap>6-6</td>
                    <td nowrap>1145</td>
                </tr>

                <tr>
                    <td>24</td>
                    <td nowrap align="right">حسین محبی</td>
                    <td nowrap>11</td>
                    <td nowrap>45%</td>
                    <td nowrap>5-6</td>
                    <td nowrap>1142</td>
                </tr>

                <tr>
                    <td>25</td>
                    <td nowrap align="right">محمد بذری</td>
                    <td nowrap>6</td>
                    <td nowrap>67%</td>
                    <td nowrap>4-2</td>
                    <td nowrap>1137</td>
                </tr>

                <tr>
                    <td>26</td>
                    <td nowrap align="right">علیرضا رمضان‌پور</td>
                    <td nowrap>6</td>
                    <td nowrap>67%</td>
                    <td nowrap>4-2</td>
                    <td nowrap>1116</td>
                </tr>

                <tr>
                    <td>27</td>
                    <td nowrap align="right">یاسین عرب</td>
                    <td nowrap>12</td>
                    <td nowrap>50%</td>
                    <td nowrap>6-6</td>
                    <td nowrap>1097</td>
                </tr>

                <tr>
                    <td>28</td>
                    <td nowrap align="right">علی صادقی</td>
                    <td nowrap>6</td>
                    <td nowrap>67%</td>
                    <td nowrap>4-2</td>
                    <td nowrap>1091</td>
                </tr>

                <tr>
                    <td>29</td>
                    <td nowrap align="right">رضا صالحیان</td>
                    <td nowrap>6</td>
                    <td nowrap>67%</td>
                    <td nowrap>4-2</td>
                    <td nowrap>1090</td>
                </tr>

                <tr>
                    <td>30</td>
                    <td nowrap align="right">میلاد بنده‌ای</td>
                    <td nowrap>12</td>
                    <td nowrap>50%</td>
                    <td nowrap>6-6</td>
                    <td nowrap>1084</td>
                </tr>

                <tr>
                    <td>31</td>
                    <td nowrap align="right">حسین زندش</td>
                    <td nowrap>12</td>
                    <td nowrap>42%</td>
                    <td nowrap>5-7</td>
                    <td nowrap>1077</td>
                </tr>

                <tr>
                    <td>32</td>
                    <td nowrap align="right">همایون حیاتی</td>
                    <td nowrap>12</td>
                    <td nowrap>42%</td>
                    <td nowrap>5-7</td>
                    <td nowrap>1072</td>
                </tr>

                <tr>
                    <td>33</td>
                    <td nowrap align="right">میثم غنی زاده</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>1066</td>
                </tr>

                <tr>
                    <td>34</td>
                    <td nowrap align="right">عرشیا بهرامی</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>1066</td>
                </tr>

                <tr>
                    <td>35</td>
                    <td nowrap align="right">آریا نصیری</td>
                    <td nowrap>6</td>
                    <td nowrap>67%</td>
                    <td nowrap>4-2</td>
                    <td nowrap>1065</td>
                </tr>

                <tr>
                    <td>36</td>
                    <td nowrap align="right">عادل رضائیان</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>1062</td>
                </tr>

                <tr>
                    <td>37</td>
                    <td nowrap align="right">حسین طاهری</td>
                    <td nowrap>6</td>
                    <td nowrap>67%</td>
                    <td nowrap>4-2</td>
                    <td nowrap>1060</td>
                </tr>

                <tr>
                    <td>38</td>
                    <td nowrap align="right">احمد حق پناه</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>1055</td>
                </tr>

                <tr>
                    <td>39</td>
                    <td nowrap align="right">علیرضا رهنما</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>1054</td>
                </tr>

                <tr>
                    <td>40</td>
                    <td nowrap align="right">جعفر محرمی</td>
                    <td nowrap>12</td>
                    <td nowrap>42%</td>
                    <td nowrap>5-7</td>
                    <td nowrap>1049</td>
                </tr>

                <tr>
                    <td>41</td>
                    <td nowrap align="right">محمد مقدسی</td>
                    <td nowrap>6</td>
                    <td nowrap>67%</td>
                    <td nowrap>4-2</td>
                    <td nowrap>1046</td>
                </tr>

                <tr>
                    <td>42</td>
                    <td nowrap align="right">پارسا خوشنویس</td>
                    <td nowrap>17</td>
                    <td nowrap>41%</td>
                    <td nowrap>7-10</td>
                    <td nowrap>1044</td>
                </tr>

                <tr>
                    <td>43</td>
                    <td nowrap align="right">عرفان استادی</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>1040</td>
                </tr>

                <tr>
                    <td>44</td>
                    <td nowrap align="right">ایلیا جلیلی</td>
                    <td nowrap>18</td>
                    <td nowrap>39%</td>
                    <td nowrap>7-11</td>
                    <td nowrap>1034</td>
                </tr>

                <tr>
                    <td>45</td>
                    <td nowrap align="right">مهدی غنی زاده</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>1033</td>
                </tr>

                <tr>
                    <td>46</td>
                    <td nowrap align="right">بردیا حاجی عزیزی</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>1015</td>
                </tr>

                <tr>
                    <td>47</td>
                    <td nowrap align="right">بهزاد ارسالی</td>
                    <td nowrap>17</td>
                    <td nowrap>29%</td>
                    <td nowrap>5-12</td>
                    <td nowrap>1008</td>
                </tr>

                <tr>
                    <td>48</td>
                    <td nowrap align="right">نیما محمدی</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>1006</td>
                </tr>

                <tr>
                    <td>49</td>
                    <td nowrap align="right">مهدی مقدسی</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>1000</td>
                </tr>

                <tr>
                    <td>50</td>
                    <td nowrap align="right">همایون غلامرضایی</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>1000</td>
                </tr>

                <tr>
                    <td>51</td>
                    <td nowrap align="right">مهدی بهمنی فرد</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>999</td>
                </tr>

                <tr>
                    <td>52</td>
                    <td nowrap align="right">ارسلان صفری</td>
                    <td nowrap>6</td>
                    <td nowrap>33%</td>
                    <td nowrap>2-4</td>
                    <td nowrap>998</td>
                </tr>

                <tr>
                    <td>53</td>
                    <td nowrap align="right">مهدی محمدی</td>
                    <td nowrap>12</td>
                    <td nowrap>33%</td>
                    <td nowrap>4-8</td>
                    <td nowrap>998</td>
                </tr>

                <tr>
                    <td>54</td>
                    <td nowrap align="right">مهدی میبدی</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>997</td>
                </tr>

                <tr>
                    <td>55</td>
                    <td nowrap align="right">روزبه امیری</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>996</td>
                </tr>

                <tr>
                    <td>56</td>
                    <td nowrap align="right">متین نجفی</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>995</td>
                </tr>

                <tr>
                    <td>57</td>
                    <td nowrap align="right">اریان کشاورز</td>
                    <td nowrap>6</td>
                    <td nowrap>33%</td>
                    <td nowrap>2-4</td>
                    <td nowrap>992</td>
                </tr>

                <tr>
                    <td>58</td>
                    <td nowrap align="right">ایرج فرزانه</td>
                    <td nowrap>12</td>
                    <td nowrap>33%</td>
                    <td nowrap>4-8</td>
                    <td nowrap>992</td>
                </tr>

                <tr>
                    <td>59</td>
                    <td nowrap align="right">امیرحسین زمانی</td>
                    <td nowrap>6</td>
                    <td nowrap>33%</td>
                    <td nowrap>2-4</td>
                    <td nowrap>991</td>
                </tr>

                <tr>
                    <td>60</td>
                    <td nowrap align="right">محمد خراطی</td>
                    <td nowrap>6</td>
                    <td nowrap>33%</td>
                    <td nowrap>2-4</td>
                    <td nowrap>991</td>
                </tr>

                <tr>
                    <td>61</td>
                    <td nowrap align="right">سپهر عباس‌زادگان</td>
                    <td nowrap>6</td>
                    <td nowrap>33%</td>
                    <td nowrap>2-4</td>
                    <td nowrap>991</td>
                </tr>

                <tr>
                    <td>62</td>
                    <td nowrap align="right">ابوالفضل محمودی</td>
                    <td nowrap>6</td>
                    <td nowrap>33%</td>
                    <td nowrap>2-4</td>
                    <td nowrap>988</td>
                </tr>

                <tr>
                    <td>63</td>
                    <td nowrap align="right">محراب روشن</td>
                    <td nowrap>6</td>
                    <td nowrap>50%</td>
                    <td nowrap>3-3</td>
                    <td nowrap>978</td>
                </tr>

                <tr>
                    <td>64</td>
                    <td nowrap align="right">پارسا طاهری</td>
                    <td nowrap>6</td>
                    <td nowrap>33%</td>
                    <td nowrap>2-4</td>
                    <td nowrap>978</td>
                </tr>

                <tr>
                    <td>65</td>
                    <td nowrap align="right">امیر باوفا</td>
                    <td nowrap>6</td>
                    <td nowrap>33%</td>
                    <td nowrap>2-4</td>
                    <td nowrap>970</td>
                </tr>

                <tr>
                    <td>66</td>
                    <td nowrap align="right">رادیوین خیام</td>
                    <td nowrap>6</td>
                    <td nowrap>33%</td>
                    <td nowrap>2-4</td>
                    <td nowrap>940</td>
                </tr>

                <tr>
                    <td>67</td>
                    <td nowrap align="right">آدرینا خیام</td>
                    <td nowrap>6</td>
                    <td nowrap>33%</td>
                    <td nowrap>2-4</td>
                    <td nowrap>939</td>
                </tr>

                <tr>
                    <td>68</td>
                    <td nowrap align="right">رادمان نظری‌دوست</td>
                    <td nowrap>6</td>
                    <td nowrap>33%</td>
                    <td nowrap>2-4</td>
                    <td nowrap>935</td>
                </tr>

                <tr>
                    <td>69</td>
                    <td nowrap align="right">گلناز قلی‌زاده</td>
                    <td nowrap>6</td>
                    <td nowrap>33%</td>
                    <td nowrap>2-4</td>
                    <td nowrap>930</td>
                </tr>

                <tr>
                    <td>70</td>
                    <td nowrap align="right">ایمان نجفی</td>
                    <td nowrap>5</td>
                    <td nowrap>20%</td>
                    <td nowrap>1-4</td>
                    <td nowrap>927</td>
                </tr>

                <tr>
                    <td>71</td>
                    <td nowrap align="right">مهران عبدی</td>
                    <td nowrap>6</td>
                    <td nowrap>33%</td>
                    <td nowrap>2-4</td>
                    <td nowrap>916</td>
                </tr>

                <tr>
                    <td>72</td>
                    <td nowrap align="right">میثم سپاهی</td>
                    <td nowrap>6</td>
                    <td nowrap>17%</td>
                    <td nowrap>1-5</td>
                    <td nowrap>912</td>
                </tr>

                <tr>
                    <td>73</td>
                    <td nowrap align="right">عباس هلالی</td>
                    <td nowrap>11</td>
                    <td nowrap>9%</td>
                    <td nowrap>1-10</td>
                    <td nowrap>892</td>
                </tr>

                <tr>
                    <td>74</td>
                    <td nowrap align="right">علیرضا شیخ حسنی</td>
                    <td nowrap>12</td>
                    <td nowrap>25%</td>
                    <td nowrap>3-9</td>
                    <td nowrap>890</td>
                </tr>

                <tr>
                    <td>75</td>
                    <td nowrap align="right">هاله متولی</td>
                    <td nowrap>6</td>
                    <td nowrap>17%</td>
                    <td nowrap>1-5</td>
                    <td nowrap>880</td>
                </tr>

                <tr>
                    <td>76</td>
                    <td nowrap align="right">رستا طاهری</td>
                    <td nowrap>6</td>
                    <td nowrap>17%</td>
                    <td nowrap>1-5</td>
                    <td nowrap>875</td>
                </tr>

                <tr>
                    <td>77</td>
                    <td nowrap align="right">عرفان صدیقی</td>
                    <td nowrap>12</td>
                    <td nowrap>25%</td>
                    <td nowrap>3-9</td>
                    <td nowrap>871</td>
                </tr>

                <tr>
                    <td>78</td>
                    <td nowrap align="right">حسام مرادیان</td>
                    <td nowrap>6</td>
                    <td nowrap>0%</td>
                    <td nowrap>0-6</td>
                    <td nowrap>859</td>
                </tr>

                <tr>
                    <td>79</td>
                    <td nowrap align="right">محمدحسین زارع</td>
                    <td nowrap>12</td>
                    <td nowrap>8%</td>
                    <td nowrap>1-11</td>
                    <td nowrap>836</td>
                </tr>

            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}