{% extends 'template.html' %}
{% load static %}

{% block title %}پارا تنیس روی میز{% endblock %}
{% block description %}
پارا تنیس روی میز یا پینگ پنگ معمولان از رشته‌های مفرحی است که می‌تواند به سلامت جسمی و روحی افراد دارای کمک کند. این
رشته خصوصا مناسب افراد دارای محدودیت‌های حرکتی، نقص عضو و مشکلات شنوایی است. کادمی توانا مفتخر خواهد بود که میزبان افراد
دارای معلولیت باشد.
{% endblock %}
{% block keywords %}ورزش معلولان, ورزش معلولین, پارا تنیس روی میز, تنیس روی میز معلولان, تنیس روی میز معلولین, پینگ پنگ
معلولان, پینگ پنگ معلولین, پینگ پنگ با ولیچر, پنیگ پنگ نشسته
هفتگی{% endblock %}

{% block style&script %}
<style>
    .fig-small {
        float: left;
        width: 300px;
        margin: 0.5rem 0;
        margin-right: 1.5rem;
    }

    @media (max-width: 576px) {
        .fig-small {
            width: 100%;
            margin-right: 0;
        }
    }
</style>
{% endblock %}

{% block main %}
<div class="container">
    <h1>پارا تنیس روی میز</h1>
    <p>
        معلولان بخش مهمی از جامعه هستند هرچند که متاسفانه حق آنها ادا نمی‌شود. ورزش همان‌طور که برای افراد سالم لازم
        است، برای معلولان نیز ضروری‌ست و
        <a href="https://en.wikipedia.org/wiki/Para_table_tennis" target=_blank> پارا تنیس روی میز </a>
        یا پینگ پنگ معمولان از رشته‌های مفرحی است که می‌تواند به سلامت جسمی و روحی افراد دارای کمک کند. این رشته خصوصا
        مناسب افراد دارای محدودیت‌های حرکتی، نقص عضو و مشکلات شنوایی است.
        <br>
    <figure class="fig-small">
        <img src="{% static 'assets/Natalia Partyka.jpg' %}" alt="Natalia Partyka"
            style="width:100%; border-radius: 0.5rem;">
        <figcaption class="english-text" style="font-size: 75%; opacity: 0.75;">
            Natalia Partyka (Photo by Feng Li/Getty Images)
        </figcaption>
    </figure>
    به طور کلی پارا تنیس روی میز به دو دسته نشسته و ایستاده تقسیم می‌شود. در بخش نشسته، رقابت معمولا با ولیچر انجام
    می‌شود اما در بخش ایستاده، قوانین مسابقه کمابیش همان قوانین تنیس روی میز عادی است. چه بسا افراد دچار معلولیت
    می‌توانند با افراد سالم نیز رقابت کنند. چنان‌که برخی از آنها، رقبای سالم خود را پشت سر گذاشته و به المپیک نیز
    راه یافته‌اند. به عنوان مثال می‌توان به
    <a href="https://en.wikipedia.org/wiki/Natalia_Partyka" target=_blank> ناتالیا پارتیکا </a>
    اشاره کرد که در المپیک لندن به جمع ۳۲ نفر برتر رسید.
    <br>
    آکادمی توانا مفتخر خواهد بود که میزبان افراد دارای معلولیت باشد. (البته متاسفانه مسیر آکادمی به علت وجود پلکان
    مناسب ویلچر نیست، اما با کمک سایر اعضای باشگاه، رفت و آمد ممکن است.) همچنین در همه
    <a href="/classes/">کلاس‌ها</a>
    و
    <a href="/free-session/">سانس‌ها</a>
    برای افراد معلول تخفیف ۲۰٪ منظور می‌شود.
    </p>
</div>
{% endblock %}