{% extends 'template.html' %}
{% load static %}

{% block title %}سیستم رده‌بندی آکادمی توانا
{% endblock %}
{% block description %}
آکادمی پینگ پنگ توانا برای رده‌بندی بازیکنان خود و بازیکنانی که در مسابقات هفتگی توانا شرکت می‌کنند، از سیستم استاندارد
Elo استفاده می‌کند. این سیستم، روشی جهانی برای محاسبه سطح مهارتی بازیکنان رشته‌های ورزشی است. در ادامه به توضیح مختصر آن
می‌پردازیم.
{% endblock %}
{% block keywords %}رده‌بندی پینگ پنگ, رده‌بندی تنیس روی میز, رده‌بندی, رنکینگ, ریتینگ,
{% endblock %}

{% block main %}
<div class="container">
    <h1>سیستم رده‌بندی آکادمی توانا</h1>
    <p>
        آکادمی توانا برای رده‌بندی بازیکنان خود و بازیکنانی که در مسابقات هفتگی توانا شرکت می‌کنند، از سیستم استاندارد
        <strong>Elo</strong> استفاده می‌کند. این سیستم، روشی جهانی برای محاسبه سطح مهارتی بازیکنان رشته‌های ورزشی است.
        در ادامه به توضیح مختصر آن می‌پردازیم، اما اطلاعات کامل را می‌توانید در ویکی‌پدیا در مدخل
        <a href="https://en.wikipedia.org/wiki/Elo_rating_system" target=_blank>Elo Rating System</a>
        بخوانید.
        <br>
        در این سیستم، هر ورزشکار دارای یک عدد «<strong>ریتینگ</strong>» است که هر چه بالاتر باشد، به معنای توانایی بیشتر
        اوست. این عدد بر اساس نتیجه مسابقات بازیکنان تغییر می‌کند. در هر مسابقه برنده امتیاز مشخصی را کسب می‌کند که به
        ریتینگ او افزوده می‌شود و همین امتیاز از ریتینگ بازنده کسر می‌شود. مقدار این امتیاز به تفاوت ریتینگ دو بازیکن
        تا پیش از انجام مسابقه بستگی دارد.
        <br>
        اگر بازیکن دارای ریتینگ بالاتر به پیروزی برسد -یعنی آنچه انتظار می‌رفته اتفاق بیفتد- امتیاز کمی به او تعلق
        می‌گیرد. اما اگر بازیکن دارای ریتینگ پایین‌تر پیروز شود، امتیاز بیشتری کسب خواهد کرد. فرد بازنده نیز همین مقدار
        امتیاز را از دست می‌دهد. این امر باعث می‌شود که سیستم به صورت «خود تصحیح شونده» (self-correcting) عمل کند و در
        طولانی مدت ریتینگ ورزشکار برآورد درستی از توانایی او باشد. (زیرا اگر ریتینگ ورزشکاری پایین‌تر از توانایی
        واقعی‌اش
        باشد، در طولانی مدت، بهتر از آنچه سیستم انتظار دارد نتیجه می‌گیرد. بنابراین امتیازات بیشتری کسب می‌کند و
        ریتینگ او تصحیح می‌شود.)
    </p>
    <p>
        فرمول ریاضی محاسبه ریتینگ به قرار زیر است:
        <br>
        فرض کنیم بازیکنی با ریتینگ R<sub>A</sub> مقابل بازیکنی با ریتینگ R<sub>B</sub> به پیروزی برسد. کیفیت دو بازیکن
        که
        به ترتیب با Q<sub>A</sub> و Q<sub>B</sub> نمایش داده
        می‌شود، از فرمول زیر به‌دست می‌آید:
    </p>
    </p>
    <p class="english-text">
        Q<sub>A</sub>=10<sup>R<sub>A</sub>/400</sup>
        &nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;
        Q<sub>B</sub>=10<sup>R<sub>B</sub>/400</sup>
    </p>
    <p>
        و امتیازی که از فرد بازنده
        کسر و به فرد برنده اضافه می‌شود، برابر است با:
    </p>
    <p class="english-text">
        p=K(1-Q<sub>A</sub>/<sub>(Q<sub>A</sub>+Q<sub>B</sub>)</sub>)
    </p>
    </p>
    بنابراین ریتینگ جدید دو بازیکن به صورت زیر محاسبه می‌شود:
    </p>
    <p class="english-text">
        R'<sub>A</sub>=R<sub>A</sub>+K(1-Q<sub>A</sub>/<sub>(Q<sub>A</sub>+Q<sub>B</sub>)</sub>)
        &nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;
        R'<sub>B</sub>=R<sub>B</sub>+K(1-Q<sub>A</sub>/<sub>(Q<sub>A</sub>+Q<sub>B</sub>)</sub>)
    </p>
    <p>
        در فرمول فوق K ضریب ثابت است که در مسابقات هفتگی آکادمی توانا مقدار ۱۰۰ دارد. همچنین به شرکت‌کنندگان در هر
        هفته از مسابقات ۱۰۰ امتیاز پاداش تعلق می‌گیرد. در انتهای هر فصل به بازیکنان دارای بالاترین ریتینگ جوایز نفیسی
        اهدا می‌شود. </p>
</div>
{% endblock %}