{% extends 'template.html' %}
{% load static %}

{% block title %}مسابقات آکادمی توانا{% endblock %}


{% block style&script %}
<!-- <link rel=stylesheet type="text/css" href="/static/pages.css"> -->
<style>
    .container img {
        border-radius: 0.5rem;
        width: 100%;
    }

    .container figure {
        float: left;
        clear: left;
        width: 200px;
        margin: 0 2rem 2rem 0;
    }

    @media (max-width: 576px) {
        .container figure {
            width: 160px;
            margin: 1rem 1rem 1rem 0;
        }
    }
</style>
{% endblock %}

{% block main %}
<div class="container">
    <h1>{{ data.title }}</h1>
    {{ data.content|safe|linebreaks }}
</div>
{% endblock %}