{% extends 'template.html' %}
{% load static %}

{% block title %}مسابقات آکادمی توانا{% endblock %}
{% block description %}
آکادمی توانا دوره‌ای از مسابقات هفتگی را با استفاده از روش سوئیسی، برنامه‌ریزی کرده و برگزار می‌کند. برای تشویق
شرکت‌کنندگان، علاوه بر جوایز هفتگی، در انتهای فصل نیز به بازیکنان دارای بالاترین رده‌بندی جوایز نفیسی اهدا می‌شود.
{% endblock %}
{% block keywords %}مسابقه پینگ پنگ, مسابقه تنیس روی میز, تورنمنت پینگ پنگ, تورنمنت تنیس روی میز, تورنومنت, مسابقات
هفتگی{% endblock %}

{% block main %}
<div class="container">
    <img src="{% static 'assets/swiss.png' %}" alt="Swiss System" class="float-left">
    <h1>مسابقات هفتگی آکادمی توانا</h1>
    <p>
        در آکادمی توانا مسابقه دادن قسمتی از برنامه آموزشی بازیکنان تلقی می‌شود. مربیان توانا، هم بر اساس تجربه دوران
        بازی و هم بر اساس آموزه‌های دوره‌های مربیگری، اعتقاد دارند که بازیکنان -در هر سطحی که باشند- باید مرتباً
        آموخته‌های خود در تمرینات را در مسابقات به‌کار گیرند تا آموخته‌ها به مهارت تبدیل شوند و مهارت‌ها ملکه ذهن گردند.
        <br>
        بر مبنای همین دیدگاه همواره به بازیکنان توصیه می‌شود که علاوه بر بازی‌های دوستانه‌ای که در طول هفته، در انتهای
        جلسات تمرینی انجام می‌دهند، در تورنمنت‌هایی با حضور بازیکنان سایر باشگاه‌ها هم شرکت کنند. این موضوع، علاوه بر
        محک توانایی بازیکن، آشنایی او با سبک‌های بازیکنان مختلف و افزایش تجربه حضور در میدان واقعی، انگیزه بازیکنان را
        نیز برای فراگیری و پیشرفت سریع‌تر افزایش می‌دهد.
        <br>
        در این راستا آکادمی توانا دوره‌ای از مسابقات هفتگی را برنامه‌ریزی کرده و برگزار می‌کند. برای سازماندهی این
        مسابقات از
        <a href="https://fa.wikipedia.org/wiki/%D8%B1%D9%88%D8%B4_%D8%B3%D9%88%D8%A6%DB%8C%D8%B3%DB%8C" target=_blank>
            روش سوئیسی </a>
        و برنامه
        <a href="https://github.com/ehzan/swiss" target=_blank> Swiss system tournament manager </a>
        استفاده می‌شود. این روش مخصوص رقابت‌هایی است که به علت تعداد شرکت‌کنندگان، به‌کارگیری روش دوره‌ای کامل (شبیه
        مسابقات لیگ) ممکن نیست و از طرفی برگزارکنندگان نمی‌خواهند از روش حذفی استفاده کنند. بنابراین مسابقات به صورت
        دوره‌ای، اما در چند دوره محدود (مثلاً ۷ دوره) انجام می‌شود و بازیکنان بر اساس امتیازات کسب‌کرده رتبه‌بندی
        می‌شوند.
        <br>
        چیدمان مصاف بازیکنان تابع قوانین زیر است:
    <ul>
        <li>
            تمامی بازیکنان تعداد برابر مسابقه انجام می‌دهند. (در صورتی فرد بودن تعداد شرکت‌کنندگان، قرعه استراحت یک بازی
            محسوب می‌شود.)
        </li>
        <li>
            هیچ‌گاه دو بازیکن دو بار با هم مسابقه نمی‌دهند.
        </li>
        <li>
            هیچ بازیکنی در هیچ مرحله‌ای از جدول حذف نمی‌شود.
        </li>
        <li>
            چیدمان مصاف‌ها تا حد ممکن طوری انجام می‌شود که در هر دور بازیکنان دارای امتیاز مشابه با یکدیگر روبرو شوند.
        </li>
    </ul>
    تناسب این ویژگی‌ها با اهداف آموزشی مربیان توانا، آنها را بر آن داشت که روش سوئیسی را -که اغلب در مسابقات شطرنج
    به‌کار می‌رود- برای برگزاری مسابقات خود انتخاب کنند.
    <br>
    <a href="https://en.wikipedia.org/wiki/Swiss-system_tournament" target=_blank> درباره روش سوئیسی بیشتر بخوانید...
    </a>
    <br>
    همانطور که گفته شد، هدف اصلی مسابقات هفتگی تکمیل چرخه آموزش بازیکنان است. اما برای ایجاد انگیزه و تشویق بازیکنان
    آکادمی توانا و بازیکنان دیگر باشگاه‌ها به حضور در مسابقات، جوایزی نیز در نظر گرفته شده‌است که شامل جوایز هفتگی
    برای سه نفر برتر هفته، و سه جایزه نفیس فصلی است که در انتهای هر فصل به بازیکنانی که بالاترین رده‌بندی را کسب
    کرده‌اند، اهدا می‌شود.
    <br>
    <a href="/rating-system/"> درباره سیستم رده‌بندی آکادمی توانا بیشتر بخوانید... </a>
    </p>
</div>
{% endblock %}