{% extends 'template.html' %}
{% load static %}

{% block title %} ویدئوکست {% endblock %}

{% block style&script %}
<style>
    .container {
        padding-left: calc(var(--gutter-x)/2);
        padding-right: calc(var(--gutter-x)/2);
    }

    h1 {
        margin-right: calc(var(--gutter-x)/2);
    }

    .row-cols-3 {
        display: flex;
        flex-wrap: wrap;
    }

    .row-cols-3>div {
        --col-width: 33.3%;
        width: calc(var(--col-width) - var(--gutter-x));
        margin: 2rem calc(var(--gutter-x)/2);
    }

    @media (max-width: 1200px) {
        .row-cols-3>div {
            --col-width: 50%;
        }
    }

    @media (max-width: 768px) {
        .row-cols-3>div {
            --col-width: 100%;
        }
    }
</style>
{% endblock %}

{% block main %}
<div class="container">
    <h1> ویدئوکست </h1>
    <div class="row-cols-3">
        {% for video in videos %}
        <div>
            {{ video.embed_code|safe }}
            <h3> <i class="bi bi-play-circle"></i> {{ video.title }} </h3>
            {{ video.description }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}