:root {
  --arrow-block-width: 10%;
}
.carousel {
  background-color:#205555;
  position: relative;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.carousel-indicators {
  border: solid red;
  position: absolute;
  bottom: 0;
  /* right: 0; */
  /* left: 0; */
  margin: 1rem;
  /* display: flex;
  justify-content: center; */
  z-index: 2;
}

.carousel-indicators [data-bs-target] {
  width: 2rem;
  height: 0.3rem;
  margin: 0 0.1rem;
  border: 0;
  border-radius: .1rem;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.carousel-control-prev,
.carousel-control-next {
  width: var(--arrow-block-width);
  color: white;
  opacity: 0.5;
  background: none;
  border: 0;
  transition: opacity 0.5s ease;
  z-index: 2;
  }

.carousel-control-prev {
  position: absolute;
  right: 0;
}

.carousel-control-next {
  position: absolute;
  left: 0;
}

.carousel-indicators .active,
.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target],
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-inner {
  /* position: relative; */
  width: 100%;
  /* overflow: hidden; */
  border: solid blue;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/* .carousel-inner::after {
  display: block;
  clear: both;
  content: "";
} */

.carousel-item {
  position: relative;
  display: none;
  height: 20rem;
  width: 100%;
  float: right;
  margin-left: -100%;
  transition: transform 1s ease-in-out;
  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */
  }

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
    }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

.carousel-caption {
  border: solid yellow;
  text-align: right;
  margin: 0;
  margin-right: var(--arrow-block-width);
  width: calc(100% - 2 * var(--arrow-block-width));
}

/* .carousel-item>img {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 32rem;
} */


.img-block {
  display: block;
  margin: 0;
  margin-left: var(--arrow-block-width);
  /* background-color: yellowgreen; */
  width: 60%;
}

@media (max-width: 768px) {
  .carousel-caption {
    margin-left: var(--arrow-block-width);
    /* width: 100%; */
  }
    .img-block {
    display: none;
  } 
}