.navbar {
  display: flex;
  flex-wrap: wrap;
  width: 96%;
  padding: .5rem 2%;
  background-color: #205050;
}

.navbar-toggler {
  margin: .2rem .2rem;
  padding: .2rem .3rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  color: white;
  opacity: 0.9;
  border-color: silver;
}

.navbar-toggler:hover {
  border-color: white;
  opacity: 1;
  font-weight: 600;
}

.navbar-brand {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-right: 0;
  margin-bottom: 0;
  margin: .7rem;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

.navbar-brand:hover,
.nav-link:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
  font-weight: 600;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}