.navbar {
  display: flex;
  flex-wrap: wrap;
  width: 96%;
  padding: .5rem 2%;
  background-color: #205050;
  color: lavender;
}

.navbar-toggler {
  margin: .2rem .2rem;
  padding: .3rem .3rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  transition: box-shadow 0.15s ease-in-out;
  color: lavender;
  border-color: silver;
}

@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}

.navbar-toggler:hover {
  color: white;
  border-color: white;
  font-weight: 600;
}

.navbar-brand {
  /* margin-left: 1rem; */
  font-size: 1.25rem;
  color: lavender;
}

.navbar-brand:hover {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-right: 0;
  margin-bottom: 0;
  margin: .7rem;
  list-style: none;
}

.nav-link {
  display: block;
  padding-left: 0;
  padding-right: 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: lavender;
}

@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}

.nav-link:hover, .nav-link:focus {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

/* .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
} */
.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}