.container :nth-child(1) { --nth-child: 1; }
.container :nth-child(2) { --nth-child: 2; }
.container :nth-child(3) { --nth-child: 3; }
.container :nth-child(4) { --nth-child: 4; }
.container :nth-child(5) { --nth-child: 5; }
.container :nth-child(6) { --nth-child: 6; }
.container :nth-child(7) { --nth-child: 7; }
.container :nth-child(8) { --nth-child: 8; }
.container :nth-child(9) { --nth-child: 9; }
.container :nth-child(10) { --nth-child: 10; }

.container p {
    order: var(--nth-child, 11);
}

.container img {
      border-radius: 0.5rem;
      width: 100%;
  }

.container figure {
    float: left;
    clear: left;
    width: 300px;
    margin: 0 2rem 2rem 0;
    order: calc(var(--nth-child, 9) + 2);
}

  @media (max-width: 768px) {
    .container figure {
        width: auto;
        display: block;
        margin: 1rem;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
}
