@charset "UTF-8";
/* @import url('font/notonaskharabicui.css'); */
@import url('font/calibri.css');

body {
    margin: 0;
    font-family: 'Noto Naskh Arabic UI', Calibri, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    /* -webkit-text-size-adjust: 100%; */
}

.english-text {
  direction: ltr;
  font-family: Calibri, sans-serif;
}

h1 {
  font-size: 140%;
  font-weight: 800;
  margin: 1.5rem 0;
}

h2 {
  font-size: 120%;
  font-weight: 800;
}

ul {
  margin: 0.5rem 0;
}

.float-left {
  float: left;
  margin: 0.5rem 0;
  margin-right: 1.5rem;
}

.float-right {
  float: right;
  margin: 0.5rem 0;
  margin-left: 1.5rem;
}

img, svg {
    vertical-align: middle;
}

.img-rounded {
  max-width: 200px;
  border-radius: 50%;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
  color: dodgerblue;
  text-decoration: underline;
}

.link-dark {
  color: black;
}

br {
  margin-bottom: .0rem;
}

hr {
    margin: 1rem 0;
    opacity: 0.25;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between !important;
  width: 96%;
  padding: .5rem 2%;
  background-color: #205050;
  color: lavender;
}

.container {
  max-width: 100%;
  padding: 0 3%;
  flex-wrap: inherit;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.form-control {
  display: block;
  width: 100%;
  margin: 0 0.5rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid silver;
  border-radius: 0.4rem;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

button {
  border-radius: 0;

    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer;
}

.btn {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.4rem 0.75rem;
  border-radius: 0.4rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn-search {
  color: mediumseagreen;
  border-color: mediumseagreen;
}

.btn-search:hover {
  color: white;
  background-color: seagreen;
}