@charset "UTF-8";
@import url('font/notonaskharabicui.css');
@import url('font/calibri.css');

:root {
  --gutter-x: 6%;
  --gutter-y: 1rem;
  --bg-dark: #205050;
  --bg-light: Lavender;  /* #c6e6e6; */
  --on-dark: Lavender;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

body {
    margin: 0;
    font-family: 'Noto Naskh Arabic UI', Calibri, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    /* -webkit-text-size-adjust: 100%; */
}

.english-text {
  direction: ltr;
  font-family: Calibri, sans-serif;
}

h1 {
  font-size: 140%;
  font-weight: 800;
  margin: 1rem 0 0;
}

h2 {
  font-size: 120%;
  font-weight: 600;
  margin: 1rem 0 0;
}

h3 {
  font-size: 100%;
  font-weight: 600;
  margin: 1rem 0 0;
}

p {
  margin: 1rem 0;
  text-align: justify;
  text-indent: 1rem;
}

p:empty {
  margin: 0rem;
}

ul {
  margin: 0.5rem 0;
}

li p {
  text-indent: 0;
}

figcaption {
  font-size: 75%;
  opacity: 75%;
  direction: ltr;
}

.float-left,
.float-alternative img:nth-of-type(odd) {
  float: left;
  margin: 0.5rem 0;
  margin-right: 1.5rem;
}

.float-right,
.float-alternative img:nth-of-type(even) {
  float: right;
  margin: 0.5rem 0;
  margin-left: 1.5rem;
}

img, svg {
    vertical-align: middle;
}

.img-rounded {
  max-width: 200px;
  border-radius: 50%;
}

.rounded-corners {
  border-radius: 0.5rem;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
  color: dodgerblue;
  text-decoration: underline;
}

.link-dark {
  color: black;
}

br {
  margin-bottom: .0rem;
}

hr {
    margin: 1rem 0;
    opacity: 0.25;
}

footer {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--gutter-y) var(--gutter-x);
  background-color: var(--bg-dark);
  color: var(--on-dark);
}

footer a {
  color: var(--on-dark);
  text-decoration: none;
  font-size: inherit;
  font-family: inherit; 
}

footer a:hover {
  color: white;
  font-weight: 600;
}

.container {
  max-width: 100%;
  padding: var(--gutter-y) var(--gutter-x) 2rem;
  flex-wrap: inherit;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.form-control {
  font:inherit;
  width: 10rem;
  margin: 0.5rem 0.2rem;
  padding: 0.1rem 0.5rem;
  border: 1px solid silver;
  border-radius: 0.4rem;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer;
}

.btn {
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  min-width: 6rem;
  margin: 0.5rem 0.2rem;
  padding: 0.1rem 0.5rem;
  border: 1px solid;
  border-radius: 0.3rem;
  transition: color .3s ease, background-color 0.3s ease, border-color .3s ease;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.4;
}

.btn:hover,
.btn:focus {
  color: var(--bg-dark);
  background-color: var(--bg-light);
  border-color: var(--bg-light);
  outline: 0;
}

nav {
  padding: .5rem var(--gutter-x);
  background-color: var(--bg-dark);
  color: var(--on-dark);
}

nav a {
  color: var(--on-dark);
}

.navbar-toggler:hover,
nav a:hover {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.navbar-toggler {
  font: inherit;
  font-size: inherit;
  /* line-height: 1rem; */
  font-family: Calibri;
  font-weight: 600;
  display: inline-flex;
  margin: 0 0.1rem;
  padding-top: 0.1rem;
  color: var(--on-dark);
  background-color: transparent;
  border: 1px solid;
  border-radius: 0.3rem;
  transition: color .3s ease, background-color 0.3s ease, border-color .3s ease;
}

.navbar-toggler:hover::after {
  transform: rotate(-45deg);
  /* color: var(--bg-dark);
  background-color: var(--bg-light);
  border-color: var(--bg-light); */
}

.navbar-toggler::after {
  width: 1.3rem; 
  content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"> <path stroke="Lavender" stroke-width="1.2" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/> </svg>');
  transition: transform .3s ease;
  transform-origin: 55% 55%;
}

.navbar-toggler[aria-expanded="true"]::after {
  transform: rotate(-90deg);
}

.navbar-nav {
  list-style: none;
}

.navbar-nav li {
  margin: .7rem 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}